* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #FFFF00;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 330px;
    height: 330px;
    margin: 150px;
    transition-property: all;
    transition-duration: 1s, 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s, 0s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

img:hover {
    opacity: 0.7s;
    transform: scale(1.2);
}

h1 {
    font-size: 100px;
    text-align: center;
    height: 100px;
    transition: all 0.5s ease-in-out;
    color: black;
}

h1:hover {
    color: #FE7A35;
}

h2 {
    font-size: 40px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: black;
    height: 40px;
}

h2:hover {
    color: #FE7A35;
}

div {
    display: flex;
    justify-content: column;
}

.naruto figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.hinata figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.sakura figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.sasuke figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.kakashi figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.rock figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.shikamaru figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.nagato figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.itachi figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.madara figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.jiraiya figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.minato figcaption {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}